absl-py==0.11.0
aiofiles==0.7.0
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.4.1
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
automata-lib==4.0.0.post1
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.3.0
bokeh==2.3.3
bs4==0.0.1
cached-property==1.5.2
cachetools==4.2.1
certifi==2020.6.20
cffi==1.14.3
chardet==4.0.0
click==7.1.2
cmake==3.18.4.post1
colorama==0.4.4
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
dlib==19.22.0
docopt==0.6.2
entrypoints==0.3
et-xmlfile==1.0.1
fastapi==0.66.0
filelock==3.0.12
Flask==1.0
flatbuffers==1.12
gast==0.4.0
gensim==4.0.1
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
graphviz==0.16
grpcio==1.34.1
h11==0.12.0
h5py==3.1.0
idna==2.10
imbalanced-learn==0.8.0
imblearn==0.0
importlib-metadata==2.0.0
ipykernel==5.3.4
ipython==7.31.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.3
joblib==1.2.0
Js2Py==0.71
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
Keras==2.4.3
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.2
mediapipe==0.8.7.2
midi @ git+https://github.com/vishnubob/python-midi@abb85028c97b433f74621be899a0b399cd100aaa
mido==1.2.9
mistune==0.8.4
more-itertools==8.7.0
mpmath==1.2.1
msgpack-python==0.5.6
music21==6.7.1
nbclient==0.5.1
nbconvert==6.5.1
nbformat==5.0.8
nest-asyncio==1.4.2
nltk==3.6.5
notebook==6.4.1
numpy==1.19.4
oauthlib==3.1.0
opencv-contrib-python==4.5.3.56
opencv-python==4.4.0.46
openpyxl==3.0.6
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.4
pandocfilters==1.4.3
parso==0.7.1
passlib==1.6.2
patsy==0.5.1
pickleshare==0.7.5
Pillow==9.0.0
pipwin==0.5.1
plotly==4.12.0
plotly-express==0.4.1
pretty-midi==0.2.9
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.14.0
py-midi==2.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///C:/Users/rishu/pipwin/PyAudio-0.2.11-cp37-cp37m-win_amd64.whl
pycparser==2.20
pydantic==1.8.2
pydot==1.4.2
pygame==2.0.1
Pygments==2.7.4
pyhht==0.1.0
pyjsparser==2.7.1
pyparsing==2.4.7
PyPrind==2.11.3
pyrsistent==0.17.3
pyserial==3.5
pySmartDL==1.3.4
python-dateutil==2.2
python-play==1.0.5
pytz==2020.4
pywin32==301
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==19.0.2
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
rope==0.19.0
rsa==4.7
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.0
selenium==3.141.0
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
smart-open==5.1.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
starlette==0.14.2
statsmodels==0.12.1
sympy==1.7.1
tb-nightly==1.14.0a20190301
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.11.1
tensorflow-estimator==2.5.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
tf-estimator-nightly==1.14.0.dev2019030115
threadpoolctl==2.1.0
tld==0.12.6
tornado==6.1
tqdm==4.56.2
traitlets==5.0.5
typing-extensions==3.7.4.3
tzlocal==2.1
Unidecode==1.2.0
urllib3==1.26.5
uvicorn==0.14.0
virtualenv==20.4.3
wcwidth==0.2.5
webcolors==1.11.1
webencodings==0.5.1
Werkzeug==2.2.3
wordcloud==1.8.1
wrapt==1.12.1
xgboost==1.4.1
zipp==3.4.0
